<%- layout('layouts/boilerplate') %>
    <h1 class="position-relative">All Pokemon</h1>

    <div class="row row-cols-1 row-cols-md-6 g-4 mb-5">
        <% pokemonNames.forEach((value, index)=> { %>
            <div class="col">
                <div class="card">
                    <a href="/pokemon/<%= index + 1 %>">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= index + 1 %>.png"
                            class="card-img-top" alt="..." <a href="/pokemon/<%= index + 1 %>"></a>
                    <div class="card-body">
                        <h5 class="card-title text-center"><a href="/pokemon/<%= index + 1 %>">
                                #<%= index +1 %>: <%= pokemonNames[index].name.toUpperCase() %>
                            </a></h5>
                    </div>
                </div>
            </div>
            <% }) %>

                <% for(let pokemon of userPokemon) {%>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/pokemon/<%= pokemon.pokedexNum %>">
                                        #<%= pokemon.pokedexNum %>: <%= pokemon.name.toUpperCase() %>
                                    </a></h5>
                            </div>
                        </div>
                    </div>
                    <% } %>
    </div>