<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>

<body>
    <h1>All Pokemon</h1>

    <a href="/">Home</a>
    <a href="/userPokemon">User-Created Pokemon</a>
    <a href="/pokemon/new">Create New Pokemon</a>

    <ul>
        <% pokemonNames.forEach((value, index)=> { %>
            <li>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= index + 1 %>.png"
                    alt="">
                <a href="/pokemon/<%= index + 1 %>">
                    <%= index +1 %>. <%= pokemonNames[index].name %>
                </a>
            </li>
            <% }) %>

                <% for(let pokemon of userPokemon) {%>
                    <li>
                        <a href="/pokemon/<%= pokemon.pokedexNum %>">
                            <%= pokemon.pokedexNum %>. <%= pokemon.name %>
                        </a>
                    </li>
                    <% } %>
    </ul>
</body>

</html>