<%- layout('layouts/boilerplate') %>

    <div class="d-flex justify-content-center mb-3">
        <% if (id <=numOfBasePokemon) {%>
            <button><a href="/pokemon">Back</a></button>
    </div>
    <% if(id !=1){ %>
        <div class="d-flex justify-content-between mb-3">
            <button><a href="/pokemon/<%= id - 1 %>"><-- Previous</a></button>
            <button><a href="/pokemon/<%= parseInt(id) + 1 %>">Next --></a></button>
            <% } else {%>
                <div class="d-flex justify-content-end mb-3">
                    <button><a href="/pokemon/<%= parseInt(id) + 1 %>">Next --></a></button>
                    <% } %>
                </div>
                <% } else {%>
                    <button><a href="/userPokemon">Back</a></button>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div class="col">
                <button><a href="/pokemon/<%= id - 1 %>"><-- Previous</a></button>
            </div>
            <% if(currentUser && pokemon.author.equals(currentUser._id)) {%>
                <div class="col">
                    <button><a href="/pokemon/<%= id %>/edit">Edit</a></button>
                    <form action="/pokemon/<%= id %>?_method=DELETE" method="POST" class="d-inline">
                        <button>Delete</button>
                    </form>
                </div>
                <% } %>
                    <% if(id !=maxId){ %>
                        <button><a href="/pokemon/<%= parseInt(id) + 1 %>">Next --></a></button>
                        <% } %>
        </div>
        <% } %>

            <div class="inner-bg-image vh-100">
                <div class="row">
                    <% if(id> numOfBasePokemon) {%>
                        <div class="col-5">
                            <img src="<%= pokemon.image.url %>" alt="" class="entry-image">
                        </div>
                        <% } else {%>
                            <div class="col-5">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= id %>.png"
                                    alt="" class="entry-image">
                            </div>
                            <% } %>
                                <div class="col">
                                    <h1 class="entry-name">
                                        #<%= id %>
                                            <%= pokemon.name.toUpperCase() %>
                                    </h1>
                                    <h2 class="author">BY:
                                        <% if(id> numOfBasePokemon) {%>
                                            <a href="/user/<%= pokemon.author._id %>">
                                                <%= pokemon.author.username %>
                                            </a>
                                            <% } else { %>
                                                GAMEFREAK
                                                <% } %>
                                    </h2>
                                    <h2 class="entry-types">
                                        <% if(id <=numOfBasePokemon){ %>
                                            <span class="entry-type1">
                                                <%= pokemon.types[0].type.name.toUpperCase() %>
                                            </span>
                                            <% if(pokemon.types[1]){ %>
                                                <span class="entry-type2">
                                                    <%= pokemon.types[1].type.name.toUpperCase() %>
                                                </span>
                                                <% } %>
                                                    <% } else { %>
                                                        <span class="entry-type1">
                                                            <%= pokemon.type1.toUpperCase() %>
                                                        </span>
                                                        <% if(pokemon.type2){ %>
                                                            <span class="entry-type2">
                                                                <%= pokemon.type2.toUpperCase() %>
                                                            </span>
                                                            <% } %>
                                                                <% } %>

                                    </h2>

                                    <h2 class="entry-height">
                                        <% if (id <=numOfBasePokemon){ %>
                                            <%= Math.trunc(pokemon.height / 3.048) %>'
                                                <% } else{ %>
                                                    <%= Math.trunc(pokemon.height) %>'
                                                        <% } %>
                                    </h2>
                                    <h2 class="entry-weight">
                                        <% if (id <=numOfBasePokemon) {%>
                                            <%= Math.trunc(pokemon.weight / 4.536) %> lbs.
                                                <% } else{ %>
                                                    <%= Math.trunc(pokemon.weight) %> lbs.
                                                        <% } %>
                                    </h2>
                                </div>
                                <h2 class="entry-description">
                                    <%= description %>
                                </h2>
                </div>


            </div>

            <% if(id> numOfBasePokemon) {%>
                <h1 class="text-center my-3">Comments (<%= pokemon.comments.length %>)</h1>
                <hr>

                <div>
                    <% if(currentUser) {%>
                        <div class="col">
                            <h2>Create a New Comment:</h2>
                            <form action="/pokemon/<%= id %>/comments" method="POST" class="mb-5">
                                <textarea name="body" id="body" cols="40" rows="3" class="d-block"
                                    placeholder="Add a Comment..." style="width: 100%; max-width: 100%;"></textarea>
                                <button class="btn btn-success mt-3">Create</button>
                            </form>
                        </div>
                        <% } %>
                            <% if(pokemon.comments.length) {%>
                                <% for(let comment of pokemon.comments.reverse()) {%>
                                    <div class="card my-5">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">
                                                By: <a href="/user/<%= comment.author._id %>">
                                                    <%= comment.author.username %>
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <%= comment.body %>
                                            </li>
                                            <% if(currentUser && comment.author._id.equals(currentUser._id)) {%>
                                                <li class="list-group-item">
                                                    <form
                                                        action="/pokemon/<%= id %>/comments/<%= comment._id %>?_method=DELETE"
                                                        method="POST">
                                                        <button class="btn btn-danger">Delete</button>
                                                    </form>
                                                </li>
                                                <% } %>
                                        </ul>
                                    </div>
                                    <% } %>
                                        <% } else {%>
                                            <h3 class="text-center mb-5">No Comments to Show</h3>
                                            <% } %>
                                                <% } %>
                </div>