<%- layout('layouts/boilerplate') %>
    <div class="inner-bg-user-image vh-100">
        <div class="row">
            <div class="col">
                <h5 class="card-title">
                    <%=user.username %>
                </h5>
                <a href="/user/<%= user._id %>/pokemon"><button class="btn btn-success">
                        <%= user.username %>'s Pokemon
                    </button></a>
                <p class="card-text">
                    <% if(!user.bio) {%>
                        (This user does not have a bio to show.)
                        <% } else {%>
                            <%= user.bio %>
                                <% } %>
                </p>
            </div>
            <div class="col">
                <% if(!user.image.url) {%>
                    <img src="../../images/defaultProfilePic.jpg" class="img-fluid rounded-start" alt="">
                    <% } else {%>
                        <img src="<%= user.image.url %>" class="img-fluid rounded-start showPfp" alt="">
                        <% } %>
            </div>
        </div>
        <div class="row g-0">
            <% if(currentUser && user._id.equals(currentUser._id)) {%>
                <div class="col-6 offset-1">
                    <a href="/user/<%= user._id %>/edit"><button class="btn btn-success my-3">Edit
                            Profile</button></a>
                </div>
                <% } %>
        </div>
    </div>